@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.portfolioItem {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    margin: 5rem;
    align-items: flex-start;
  }

  &__image {

    position: relative;
    margin-bottom: 3rem;
    order: 1;

    @include tablet {
      order: 0;
      margin-right: 5rem;
    }
  }

  &__shape {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 130%;
    transform: translate(-25%, -10%);
    z-index: -11;

    @include tablet {
      height: 130%;
      transform: translate(-55%, -10%);
    }

  }

  &__thumbnail {
    display: block;
    min-width: 75vw;
    min-height: 50vw;
    margin: 0 auto;
    background-color: $image-bg;
    border-radius: 10px;
    border: 1px solid $image-border;

    @include tablet {
      min-width: 40vw;
      min-height: 30vw;
    }
  }

  &__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: $bg-color;
    padding: 1rem 2rem;
    min-width: 5rem;
    border-radius: 10px;

    &--secondary {
      background-color: $accent;
    }

    &--background {
      z-index: -4;
      display: inline-block;
      position: absolute;
      transform: rotate(12deg) translate(-15%, -19%);
      width: 50px;
      height: 20px;
      background-color: grey;
      right: 0;
    }

  }

  &__button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35%;
    text-align: center;
    transform: translateX(30%);

    &--secondary {
      top: 50%;
    }
  }



  &__info {
    width: 75vw;
    margin: 2rem auto;
    
    @include tablet {
      min-width: 30vw;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;  
  }

  &__copy {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  &__techList {
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
  }

}
