@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.skills {
  background-color: $bg-color;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-block: 5rem 0;

  &__wrapper {
    width: 90vw;
    margin-inline: auto;
  }

  &__title {
    font-size: 3rem;
    color: white;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-block: 4rem;
    text-align: center;

    @include tablet {
      text-align: initial;
      flex-direction: row;
    }

  }

  &__list {
    list-style-image: url('../../assets/images/list-icon.svg');
  }

  &__list-item {
    font-size: 1.5rem;
    color: $accent;
    margin-bottom: 1rem;
  }

}