@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.skills {
  background-color: $bg-color;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-block: 5rem;

  &__wrapper {
    width: 90vw;
    margin-inline: auto;
  }

  &__title {
    font-size: 3rem;
    color: white;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    margin-block: 2rem;

    @include tablet {
      flex-direction: row;
    }

  }

  &__list {
    
  }

  &__list-item {
    font-size: 1.5rem;
    color: $accent;
    margin-bottom: 0.5rem;
  }

}