@use '../../styles/partials/colors' as *;

.testimonial {
  max-width: clamp(90% ,58ch, 100%);
  margin-inline: auto;
  margin-block: 10rem;
  display: flex;
  flex-direction: column;

  &::before, &::after {
    line-height: 0;
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;

  }

  &::before {
    content:"\201C";
    transform: translateX(-1rem);
  }
  &::after {
    content:"\201D";
    align-self: flex-end;
  }

  &__copy {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-style: italic;
    position: relative;
    white-space: pre-wrap;
  }

  &__name {
    font-size: 2rem;
    color: $accent;
    margin-bottom: 0.5rem;
  }

  &__title {
    display: block;
    font-size: 4rem;
    margin-block: 10rem 3rem;
    text-align: center;
  }
}